<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="33"
        tools:overrideLibrary="androidx.window" />

    <!-- Izin Akses -->
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" tools:node="remove" />

    <application
        android:label="kroscek"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">

        <!-- Metadata untuk Geolocator -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            tools:node="remove" />
    </application>
</manifest>
